<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Webcomponent Styleguide</title>
    <link rel="stylesheet" href="theme.css" />
  </head>
  <body>
    <div id="demo">
      <h2>Buttons</h2>
      <custom-button label="Primary Button" variant="primary"> </custom-button>
      <custom-button label="Secondary Button" variant="secondary">
      </custom-button>
      <custom-button variant="tertiary">Tertiary Button</custom-button>
      <h2>Panels</h2>
      <custom-panel title="Sample Title" variant="primary">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam iaculis
        erat lacus, sodales luctus dolor consequat non. Proin maximus ut mauris
        eget lobortis. Quisque diam lorem, fermentum vel est vel, egestas
        condimentum ipsum. Integer viverra ex efficitur, elementum nisl vel,
        gravida lectus. </custom-panel>
      <custom-panel title="Sample Title" variant="secondary">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam iaculis
        erat lacus, sodales luctus dolor consequat non. Proin maximus ut mauris
        eget lobortis. Quisque diam lorem, fermentum vel est vel, egestas
        condimentum ipsum. Integer viverra ex efficitur, elementum nisl vel,
        gravida lectus. </custom-panel>
      <custom-panel title="Sample Title" variant="tertiary">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam iaculis
        erat lacus, sodales luctus dolor consequat non. Proin maximus ut mauris
        eget lobortis. Quisque diam lorem, fermentum vel est vel, egestas
        condimentum ipsum. Integer viverra ex efficitur, elementum nisl vel,
        gravida lectus. </custom-panel>
    </div>

    <script src="./CustomButton/custom-button.js"></script>
    <script src="./CustomPanel/custom-panel.js"></script>
  </body>
</html>
