<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Webcomponent Styleguide</title>
    <link rel="stylesheet" href="theme.css" />
  </head>
  <body>
    <div id="demo">
      <h2>Buttons</h2>
      <custom-button label="Primary Button" variant="primary"> </custom-button>
      <custom-button label="Secondary Button" variant="secondary">
      </custom-button>
      <custom-button variant="tertiary">Tertiary Button</custom-button>
    </div>
    <script src="./CustomButton/custom-button.js"></script>
  </body>
</html>
