button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: bold;
}

button:active {
  transform: scale(0.98);
}

.primary {
  border: 1px solid var(--primary-border-color);
  color: var(--primary-fg);
  background-color: var(--primary-bg);
}
.secondary {
  border: 1px solid var(--secondary-border-color);
  color: var(--secondary-fg);
  background-color: var(--secondary-bg);
}
.tertiary {
  border: 1px solid var(--tertiary-border-color);
  color: var(--tertiary-fg);
  background-color: var(--tertiary-bg);
}
